.container {
  width: 800px;
  margin: 0 auto;
  padding: 10px 0px;
}
.divInput {
  width: 90%;
  padding: 4%;
  margin: 0 auto;
  color: gray;
}
.input {
  color: black;
  margin-top: 5px;
  width: 700px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
}
